.song-detail {
  padding: 0;
}

.bg-video-container {
  padding: 5px;
  padding-bottom: 0;
}

#audio-card {
  width: 100%;
  background-color: #000000;
}

#background-video {
  width: 100%;
  height: 30%;
}

.audio-controls {
  position: relative;
  padding-bottom: 60px;
}

#audio-play-pause {
  color: #ffffff;
  font-size: 35px;
  margin-top: 12px;
  position: absolute;
  display: inline-block;
  left: 10px;
}

#song {
  margin-right: 0;
}

.audio-volume-controls {
  display: inline-block;
  position: absolute;
  left: 60px;
  top: 12px;
}

#audio-vol-control {
  position: absolute;
  left: 33px;
  top: 14px;
}

.volume-icon {
  color: #ffffff;
  font-size: 20px;
  position: relative;
  left: 0;
}


.audio-progress-bar {
  background-color: rgb(53, 51, 51);
  height: 7px;
  width: 100%;
}

#audio-progress {
  background-color: teal;
  height: 7px;
  width: 0;
}

/* CSS for the volume controls */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #audio-vol-control {
    overflow: hidden;
    width: 140px;
    -webkit-appearance: none;
    background-color: rgb(53, 51, 51);
  }

  #audio-vol-control::-webkit-slider-runnable-track {
    height: 8px;
    -webkit-appearance: none;
    color: orange;
    margin-top: 0px;
  }

  #audio-vol-control::-webkit-slider-thumb {
    width: 8px;
    -webkit-appearance: none;
    height: 8px;
    cursor: pointer;
    /* background: #434343; */
    background: white;
    box-shadow: -80px 0 0 80px teal;
  }
}

/* @media (max-width: 700px) {
  #audio-card {
    height: 520px;
  }
} */