body {
  margin: 0;
}

.landing-nav .navbar .nav {
  float:none!important;
  text-align: center!important;
}

.landing-nav .navbar-nav >li{
  float:none;
  display: inline-block;
  padding:8px 14px 8px 14px;
}

.landing-nav .navbar-nav >li > a{
font-family:'Capriola',sans-serif;font-size:200%!important;color:#1B809E!important;
}

.rules .form-control{
  background-color: #ddd;
}

.table-striped>tbody>tr:hover{background-color:rgba(255, 255, 255, 0.4);;}
.navbar-default{
  background-color:rgba(255, 255, 255, 0.4);
}

.sidebox {
  color:black;
  border-radius:10px;
  text-shadow:1px 1px 0px #888;
  text-align:center;
  background-color:rgba(52,60,65,.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  margin-top:25px; 
  padding: 20px;
}
.fontincr li a{font-size: 18px;}

.container1{box-shadow: 0px 0px 8px #000;background-color:#212529;}
.navbar-right{margin-right: 5px}
.border-shadow{box-shadow: 0px 0px 8px #000}
.nav-justified {background-color: white}
.bodypad{
  background: #1B809E; /* fallback for old browsers */
  background-image: url("../img/landing.png")!important;
  background-attachment: fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  padding-top:0;
}
.rules{border:5px solid #eee;border-radius: 5px;margin-bottom: 10px;background-color:rgba(255, 255, 255, 0.85)}

.nav li  a:hover {
background-color: #ddd;
box-shadow:0px 3px 7px rgba(0, 0, 0, 0.15) inset;
background-image: none;
}
.nav li  a{color:#1B809E;}

 @media screen and (max-width: 750px) {
  .container-fluid{
    padding-right: 10px;
  }

  .bodypad{
    background-image: url("../img/landing.png")!important;
    background-repeat: no-repeat;
  }
}

.navbar-default .navbar-nav > li > a{
    color:#457fca;
    font-size: 20px;
}
@media screen and (max-width: 750px) {
.navbar-default .navbar-nav > li {
    font-weight: bold;
    margin-left: 20px;
  }
}

.container-fluid{
    padding-right: 0
}

th,td{
    padding: 25px!important;
}
td{
    font-size: 17px;

}
.lboardh1{
    text-align:center;font-family:impact;font-size:45px;font-weight:bold; text-shadow:2px 2px #457FCA;
}

/* .footer {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
} */

.footer img {
    display: inline!important;
    margin-left: 0.5em;
    max-height: 8em;
    max-width: 80%;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
#particle {
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:0; 
}
#overlay {
  position: relative;
}

.swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float:left;
  margin:0 auto;
}
.swing:after{
  content: '';
  position: absolute;  
  width: 20px; height: 20px;  
  top: -10px; left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
  margin:0 auto;
}
/* nail */
.swing:before{
  content: '';
  position: absolute;
  width: 5px; height: 5px;
  top: -14px;left: 54%;
  z-index: 5;
  border-radius: 50% 50%;
  background: #000;
  
}

@keyframes swing {
  0% { transform: rotate(3deg); }
  100% { transform: rotate(-3deg); }
}

.container3{  margin: 0 auto;
  border-radius: 2px bold white;
  margin: 0 auto;
  border-radius: 2px bold white;
}

/* CSS for the tab based hint system */


.hint-list-item {
  width: 33%;
  margin: 0 auto;
  text-align: center;
}


.nav-tabs {
  border-bottom: none;
}

.panel-heading {
  padding: 0;
  background-color: transparent;
}


.hint-title {
  margin-right: 0px;
  margin-left: 0px;
  font-size: 2rem;
  background-color: #272e38;
  color: #fff;
  border: none;
}

.tab-content {
  text-align: center;
  line-height: 25px;
  border-top: 5px solid rgb(243, 102, 51);
  border-bottom: 5px solid rgb(243, 102, 51);
  /* padding: 30px 0; */
  padding: 15px 0 5px 0;
}

.with-nav-tabs {
  background-color: transparent;
  border: none;
}

.panel-body {
  padding: 0;
}


.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
  color: #fff;
}

/* On Hover or Focus */

.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
  color: #fff;
	background: rgb(243, 102, 51);
  border-color: transparent;
  transition: background 0.3s linear;
}

/* Active */
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
  color: #fff;
  background: rgb(243, 102, 51);
	/* background-color: #fff; */
	border-color: transparent;
  border-bottom-color: transparent;
}

li.active > a:after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 45%;
  border: 15px solid transparent;
  border-top-color: rgb(243, 102, 51);
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

/* CSS for the Questions */

.question {
  margin-left: -10px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: -20px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: left;
}

.answer-box {
  padding: 10px 0 10px 0;
  margin-bottom: 20px;
  margin-top: 10px;
}

/* NAVBAR */

.navbar-btn {
  margin-top: 4px;
  margin-bottom: 0;
}

.padleft{
  margin-top: 15%;
}

.btn {
  background-color: transparent;
  border-color: red;
  font-family: 'Akaya Telivigala', cursive;
  font-size: 2.5rem; 
  color: #fff;
  background-image: -webkit-linear-gradient(45deg, red 50%, transparent 50%);
  background-image: linear-gradient(45deg, red 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 600ms ease-in-out;
  transition: background 600ms ease-in-out;
  margin-top: 0.8em;
  margin-bottom: 0.5em;
}

.btn:hover {
  background-position: 0;
  color: #fff;
}

.lead {
  font-family: 'Akaya Telivigala', cursive; 
  font-size: 3rem;
  line-height: 1;
  color: #c6e2ff;
  padding-top: 1em;
}

.oth {
  text-align:center;
  font-family: 'Orbitron', sans-serif;
  font-size: 6rem;
  color:rgb(255, 255, 255); 
  font-weight: 800;
  -webkit-animation: neon 0.08s ease-in-out infinite alternate;
          animation: neon 0.08s ease-in-out infinite alternate;
}

/*-- Animation Keyframes --*/
@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
  }
}

@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
  }
}

.rules2 {
  border-radius: 30px;
  margin-bottom: 10px;
  margin-top: 10%;
  text-shadow:1px 1px 0px #888;
  text-align:center;
  background-color:rgba(52,60,65,.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.rules-heading {
  padding-top: 0.5em;
  color: white;
  font-weight:bold;
  font-size: 4.5rem;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
}

.padsize {
  padding-bottom: 0.5em;
  list-style-type: none;
  padding-inline-start: 0 !important;
}

.padsize li {
  font-size: 3rem;
  padding: 25px;
  font-family: 'Quicksand', sans-serif;
  color: #c6e2ff;
}

.table-header {
  color:#fff;
  font-size:18px;
  background-color:rgba(52,60,65,.5) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(6px);
}

.top3 {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: end;
          align-items: flex-end;
  color: #4B4168;
}
.top3 .item {
  box-sizing: border-box;
  position: relative;
  background-color: rgba(3, 32, 44, 0.6);
  backdrop-filter: blur(3px);
  border: 1px solid #32c8c6;
  width: 9rem;
  height: auto;
  text-align: center;
  padding: 3rem 0 0;
  margin: 1rem 1rem 2rem;
  border-radius: 0.5rem;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  cursor: pointer;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
 color:#3de0de;
 
}
.top3 .item .pic {
  position: absolute;
  top: -2rem;
  left: 2.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2), 0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.3);
}
.top3 .item .pos {
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color:#fff;
}
.top3 .item .name {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.top3 .item .score {
  /* opacity: 0.5; */
  font-size: 1rem;
  font-weight: 900;
  padding-bottom: 5px;
  color:#fff;
}
.top3 .item .score:after {
  display: block;
  /* content: 'points'; */
  /* opacity: 0.5; */
}
.top3 .item.one {
  width: 10rem;
  height: 11rem;
  padding-top: 3.5rem;
}
.top3 .item.one .pic {
  width: 5rem;
  height: 5rem;
  left: 2.5rem;
}
.top3 .item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.list {
  padding-left: 2rem;
  margin: 0 auto;
  max-width: 600px;
}
.list .item {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  color:#aafffe;
  
  height: 3rem;
  border-radius: 4rem;
  margin-bottom: 2rem;
  background-color: rgba(3, 32, 44, 0.4);
  backdrop-filter: blur(3px);
  border: 1px solid #32c8c6;
  -webkit-transform-origin: left;
          transform-origin: left;
  cursor: pointer;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.1), 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}
.list .item .pos {
  font-weight: 900;
  position: absolute;
  left: -2rem;
  text-align: center;
  font-size: 1.25rem;
  width: 1.5rem;
  color: #fff;
  font-weight: 500;
  opacity: 0.6;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}
.list .item .pic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2), 0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.3);
}
.list .item .name {
  -webkit-box-flex: 2;
          flex-grow: 2;
  flex-basis: 10rem;
  font-size: 1.1rem;
}
.list .item .score {
  margin-right: 1.5rem;
  font-weight: bold;
  /* opacity: 0.5; */
}
.list .item .score:after {
  margin-right: 1rem;
  /* content: ' Points'; */
  /* opacity: 0.5; */
}
.list .item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.list .item:hover .pos {
  opacity: 0.8;
}

@media only screen and (max-width: 480px) {
  .top3 .item.one {
    width: 8rem;
    height: 11rem;
  }
  .top3 .item {
    width: 5rem;
    margin: 20px 5px;
  }

  .top3 .item.one .pic {
    width: 4rem;
    height: 4rem;
    left: 2rem;
  }

  .top3 .item .pic {
    width: 3rem;
    height: 3rem;
    left: 1rem;
  }
}

@media only screen and (max-width: 576px) {
  .padleft {
    margin-top: 2%;
  }

  .sidebox {
    margin-top: 0;
  }

  .oth {
    font-size: 3.5rem;
  }

  .lead {
    font-size: 2rem;
  }

  .btn {
    font-size: 1.8rem;
  }
}