{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{% static 'img/favicon.ico' %}">

  <script src="{% static 'js/particle.js' %}"></script>

  <title>Online Treasure Hunt</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/justified-nav.css' %}" rel="stylesheet">

  <link href="{% static 'css/bootstrap-social.css' %}" rel="stylesheet">

  <link href="{% static 'css/footer.css' %}" rel="stylesheet">

  <link href="{% static 'css/base.css' %}" rel="stylesheet">

  <link href="{% static 'css/button.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;800;900&display=swap" rel="stylesheet">
  <link href="{% static 'css/timer.css' %}" rel="stylesheet">

  <!-- Stylesheets for the Audio and Video Players -->

  <link rel="stylesheet" href="{% static 'css/audio-player.css' %}">
  <link rel="stylesheet" href="{% static 'css/video-player.css' %}">

  <link href="https://fonts.googleapis.com/css?family=Iceland&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Sigmar+One&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css">

  <link href="https://fonts.googleapis.com/css?family=Capriola|Creepster|Droid+Sans|Merriweather|Montserrat"
    rel="stylesheet">
  
</head>
<div id="particle"></div>

<div id="overlay">

  <body class="bodypad">
    <nav class="navbar">
      <div class="container1">
        <div class="navbar-header">
          <button style="background-color:#f5f5f5" type="button" class="navbar-toggle" data-toggle="collapse"
            data-target="#myNavbar">
            <span9 class="icon-bar"></span9>
            <span9 class="icon-bar"></span9>
            <span9 class="icon-bar"></span9>
          </button>
          <a href="/" style="color:#f5f5f5" class="navbar-brand">
            <span92>🔍</span92>
            <span91
              style=" width:10px;height:10px;margin-left:10px;font-family: 'Iceland';font-size:25px;font-weight:20px;opacity: 0.8;">
              Online Treasure Hunt</span91>
          </a>
          {%if user.is_authenticated%}
          <div class="navbar-brand" style="color:gray;font-family:'Capriola',sans-serif;">
            Score : <span style="font-weight:bold;color:rgb(8, 119, 8)">{{player.score}} points</span>
          </div>
          {%endif%}
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <!-- {%if user.is_authenticated%}
              <li>
                  <a class="navbar-brand" href="#">
                    <b><img src="{{ player.profile_url }}" height="20" width="25" style="border-radius: 50%;" class="d-inline-block align-top"></b>
                  </a>
              </li>
            {%endif%} -->
            <li><a style="font-family:'Capriola',sans-serif;font-size:20px" href="/rules">Rules</a></li>
            <li><a style="font-family:'Capriola',sans-serif;font-size:20px" href="/lboard/">Leaderboard</a></li>
            {%if user.is_authenticated%}
              <li><a style="font-family:'Capriola',sans-serif;font-size:20px" href="{% url 'logout' %}?next={{ '/' }}">Logout</a></li>
            {%endif%}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

      {% block content %}
      {% endblock %}

      <!-- Site footer -->

    </div> <!-- /container -->
    <div class="footer">
      <div class="footerft">
        <div id="button_ft"></div>
        <div id="container_ft">
          <div id="cont">
            <div class="footer_center">
              <p style="color:white;">&copy; 2021. <strong>Developed by</strong> The GNU Linux Users' Group, NIT Durgapur</p>
              <div class="social_links">
                <a target="__blank" href="https://www.facebook.com/nitdgplug"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/nitdgplug/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a target="__blank" href="https://nitdgplug.org/"><img id="logo-img" src="/static/img/glugLogo.png" alt="GLUG Logo"></a>
                <a target="__blank" href="https://arhn.co.in/"><img id="logo-img" src="/static/img/aarohan-logo.png" alt="Aarohan Logo"></a>
                <a href="https://www.linkedin.com/company/lugnitdgp" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/lugnitdgp" target="__blank"><i class="fab fa-github"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

</div>

</div>

<br>
<canvas class="background"></canvas>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
<script src="https://kit.fontawesome.com/fba5b46cec.js" crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jss.js' %}"></script>
<script src="{% static 'js/timer.js' %}"></script>

<!-- Script for the audio and video players -->
<script src="{% static 'js/audio-player.js' %}"></script>
<script src="{% static 'js/video-player.js' %}"></script>


<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js">
</script>
<script>
  var options = {
  "particles": {
    "number": {
      "value": 30,
      "density": {
        "enable": true,
        "value_area": 500
      }
    },
    "color": {
      "value": "#ffffff"
    },
    "shape": {
      "type": ["circle", "triangle"],
      "stroke": {
        "width": 0,
        "color": "#808000"
      },
      "polygon": {
        "nb_sides": 5
      },
      "image": {
        "src": "img/github.svg",
        "width": 50,
        "height": 50
      }
    },
    "opacity": {
      "value": 0.5,
      "random": false,
      "anim": {
        "enable": false,
        "speed": 0.5,
        "opacity_min": 0.1,
        "sync": false
      }
    },
    "size": {
      "value": 2,
      "random": true,
      "anim": {
        "enable": false,
        "speed": 0,
        "size_min": 0.1,
        "sync": false
      }
    },
    "line_linked": {
      "enable": true,
      "distance": 200,
      "color": "#808000",
      "opacity": 0.6,
      "width": 3
    },
    "move": {
      "enable": true,
      "speed": 3.5,
      "direction": "none",
      "random": false,
      "straight": false,
      "out_mode": "out",
      "bounce": false,
      "attract": {
        "enable": false,
        "rotateX": 600,
        "rotateY": 1200
      }
    }
  },
  "interactivity": {
    "detect_on": "canvas",
    "events": {
      "onhover": {
        "enable": false,
        "mode": "repulse"
      },
      "onclick": {
        "enable": true,
        "mode": "push"
      },
      "resize": true
    },
    "modes": {
      "grab": {
        "distance": 800,
        "line_linked": {
          "opacity": 1
        }
      },
      "bubble": {
        "distance": 800,
        "size": 80,
        "duration": 2,
        "opacity": 0.8,
        "speed": 3
      },
      "repulse": {
        "distance": 400,
        "duration": 0.4
      },
      "push": {
        "particles_nb": 4
      },
      "remove": {
        "particles_nb": 2
      }
    }
  },
  "retina_detect": true
};
  particlesJS("particle", options);
</script>
</body>

</html>