{% extends 'base.html' %}

{%block content%}
<div class="container">
<div class="row d-flex justify-content-center">
  <!-- <h1 class="congo"> Congratulations! You have found all the treasures.</h1> -->
  <h2 class="congo"> Thank You for participating in Online Treaure Hunt.</h2>
  <h3 class="congo"> See you again next year!</h3>
  <div style="width:300px; height:300px;margin:auto">
    <div class="text-center">
      <figure class="swing">
        <img style=" height: 300px; width: 300px;" src="/static/img/AIMLV11.png" class="responsive" alt="">
      </figure>
    </div>
  </div>
  <!--Grid column-->

</div>
</div>

{%endblock%}